.bg-roxo {
    background-color:#732793;;
}

.img-col{
    width: 20vh;
    height: 20vh;
}

.text-roxo {
  color: #732793;
}

.btn-primary {
  font-weight: 600;
  color: #fff;
  background-color: #732793;
  border: 1px solid #732793;
}

.btn-primary:hover {
  color: #000 !important;            
  background-color: #fff !important;  
  border: 1px solid #000 !important;  
}

.btn-primary {
  transition: all 0.3s ease;
}

