.bg-roxo {
    background-color:#732793;;
}

.img-col{
    width: 20vh;
    height: 20vh;
}

.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg:#732793;
  --bs-btn-border-color: var(--bd-dark);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(--bs-white)};
  --bs-btn-hover-border-color: #{shade-color(#732793)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}